    html{
        color: white; 
    }

    body{
    background:url(background.jpg) no-repeat;
    background-size: cover;
    position: relative;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #name{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .nav-items > a{
        text-decoration: none;
        color: black;
        padding: 0 1.5rem;
        flex: 1;
    }
    .info-body{
        width: 15vw;
        text-align: center;
        margin: auto;
        margin-top: 5%;
    }
    .profile-img{
        border-radius: 50%;
    }
    .social-icons{
        width: 20vw;
        padding: 20vw;
        text-align: center;
        margin: auto;
        margin-top: 1vw;
    }
    .social-icons a{
        font-size: 50px;
    }
    .about-img{
        max-width: 20vw;
        float: left;
        border: 3px solid white;
    }
    .about-body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .wrapper{
        margin: 10vw auto;
        width: 70%;
    }
    .text-box{
        color: #b3f2ff; /*use a different color*/
    }
    .text-box h2{
        font-size: 2vw;
    }
    .text-box p{
        font-size: 1vw;
    }
    .port-img{
        max-width: 15vw;
        float: left;
        border: 3px solid white;
        border-radius: 2vw;
        margin-right: 1vw;
    }
    
