    html{
        color: white; 
    }

    body{
    background:url(background.jpg) no-repeat;
    background-size: cover;
    position: relative;
    }
    .nav-items{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }
    #Name{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        flex: 3;
    }
    .nav-items > a{
        width: 2.7vw;
        height: 1.4vw;
        border-radius: 50%;
        border: solid skyblue;
        text-decoration: none;
        color: black;
        padding: 1rem;
    }
    .nav-items > a:hover {
        background-color: grey;
      }
    .info-body{
        width: 15vw;
        text-align: center;
        margin: auto;
        margin-top: 5%;
    }
    .profile-img{
        border-radius: 50%;
    }
    .social-icons{
        width: 20vw;
        padding: 20vw;
        text-align: center;
        margin: auto;
        margin-top: 1vw;
    }
    .social-icons a{
        font-size: 50px;
        color: white;
    }
    .about-img{
        max-width: 20vw;
        float: left;
        border: 3px solid white;
    }
    .about-body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .wrapper{
        margin: 10vw auto;
        width: 70%;
    }
    .text-box > p{
        color: white; /*use a different color*/
        text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    }
    .text-box h2{
        font-size: 2vw;
    }
    .text-box p{
        font-size: 1vw;
    }
    .port-img{
        max-width: 15vw;
        float: left;
        border: 3px solid white;
        border-radius: 2vw;
        margin-right: 1vw;
    }
    #form{
        display: flex;
        flex-direction: column
    }
    .formInput{
        margin: 1rem;
        align-self: center;
        color: white;
        border: 1px solid black;
        background-color: black;
    }
    #submit{
        margin-top: 1rem;
        padding: 1rem;
        width: 10%;
        align-self: center;
        background-color: black;
        color: white;
    }
    #submit:hover {
        background-color: darkgrey;
      }
    
